// colors
$bg-primary: #392467;
$on-primary: #cec3e6;
$bg-secondary: #fff689;
$on-secondary: #392467;
$bg-error: #c63c51;
$on-error: #fff;
$bg-success: #00a878;
$on-success: #fff;
$bg-info: #369;
$on-info: #fff;
$bg-warning: #ff9f1c;
$on-warning: #fff;
$bg-neutral: #f5f0f6;
$on-neutral: #392467;
