@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gothic A1";
  src: url("/assets/fonts/Gothic_A1/GothicA1-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Special Elite";
  src: url("/assets/fonts/Special_Elite/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barriecito";
  src: url("/assets/fonts/Barriecito/Barriecito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chicle";
  src: url("/assets/fonts/Chicle/Chicle-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Salsa";
  src: url("/assets/fonts/Salsa/Salsa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gabarito";
  src: url("/assets/fonts/Gabarito/Gabarito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$font-family-branding: "Playfair Display", serif;
$font-family-heading: "Gothic A1", sans-serif;
$font-family-body: "Gothic A1", sans-serif;
$font-family-sad: "Special Elite", serif;
$font-family-weird: "Barriecito", sans-serif;
$font-family-happy: "Chicle", serif;
$font-family-smirk: "Salsa", serif;
$font-family-calm: "Gabarito", serif;

.font-branding {
  font-family: $font-family-branding;
}

.font-sad {
  font-family: $font-family-sad;
}

.font-weird {
  font-family: $font-family-weird;
}

.font-happy {
  font-family: $font-family-happy;
}

.font-smirk {
  font-family: $font-family-smirk;
}

.font-calm {
  font-family: $font-family-calm;
}

html {
  font-family: $font-family-body;
  font-size: 1rem;
  font-weight: 400;
  color: var(--on-primary);
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.889rem;
}

p {
  line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: $font-family-heading;
  font-weight: 700;
  line-height: 120%;
}

h1,
.display-1 {
  font-size: 2.027rem;
}

h2,
.display-2 {
  font-size: 1.802rem;
}

h3,
.display-3 {
  font-size: 1.602rem;
}

h4,
.display-4 {
  font-size: 1.424rem;
}

h5,
.display-5 {
  font-size: 1.266rem;
}

h6,
.display-6 {
  font-size: 1.125rem;
}